[submodule "dependencies/asmjit"]
	path = dependencies/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "dependencies/blend2d"]
	path = dependencies/blend2d
	url = https://github.com/blend2d/blend2d
